body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    display:flex;
    
}

button{
    margin-left: auto;
}

.grid-space{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    flex: 1;
}

.cell{
    flex: 1
}

.color-Buttons{
    margin: 0 auto;
}

.red{
    background-color: red;
    color: white;
}

.green{
    background-color: green;
    color: white;
}

.blue{
    background-color: blue;
    color: white;
}

