body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    display:flex;
    
}

button{
    margin-left: auto;
}

.grid-container{
    display: grid;
    border: 2px solid black;
}

.grid-container > * {
   min-height: 10px;
   min-width: 10px;
}


.color-Buttons{
    margin: 0 auto;
}

.red2:hover{
    background-color: red;
}

.green2:hover{
    background-color: green;
}

.blue2:hover{
    background-color: blue;
}

.red{
   
    color: white;
}

.red:hover{
    background-color: red;
}

.green{
    
    color: white;
}

.green:hover{
    background-color: green;
}

.blue{
    
    color: white;
}

.blue:hover{
    background-color: blue;
}

